:root {
  --data-color-green: #4cd89d;
}
html,
body {
  font-family: "Raleway", sans-serif;
  scroll-behavior: smooth !important;
  margin: 0;
}

.resault {
  position: relative;
}
.resault .container {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  position: relative;
  height: 100vh;
  background: white;
  background: linear-gradient(180deg, #d5daaf, #16c98978);
}
.resault .container .heading {
  margin: 0;
  margin-top: 10%;
  z-index: 11;
  
}
.resault .container .heading span {
  color: #ff0000;
}
.resault .container .text {
  z-index: 11;
}
.resault .container .text ul li {
  margin-top: 60px;
  font-size: 22px;
  text-align: center;
}
.resault svg {
  position: absolute;
  position: absolute;
}
.resault svg #one,
.resault svg #three,
.resault svg #two,
.resault svg #four,
.resault svg #five,
.resault svg #six,
.resault svg #seven,
.resault svg #eight {
  animation: top 2s linear 1 alternate;
  transform: translateY(-100%);
}

@keyframes top {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(-100%);
  }
}

body .alert {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  position: absolute;
  background: var(--data-color-green);
  border-radius: 20px;
  width: 370px;
  left: 50%;
  height: 200px;
  top: 50%;
  transform: translate(-50%, 40%);
}
body .alert p {
  font-size: 22px;
  text-align: center;
  margin: 0;
  color: #2e4118;
}
body .alert .all_btn {
  display: flex;
  gap: 10px;
}
body .alert .all_btn button {
  padding: 10px;
  border-radius: 10px;
  border: none;
  font-weight: 500;
  cursor: pointer;
  font-size: 17px;
    font-weight: 700;
}
