input{
        font-size: 2em;
        color:#333;
        text-transform: uppercase; 
       padding: 10px;  
       border-radius: 70px;
       font-size: 20px;  
       width: 300px;
       height: 30px;
}
:root {
  --data-color-blue: #4cd89d;
}
html {
  font-family: "Raleway", sans-serif;
}

input {
  font-size: 2em;
  color: black;
  outline: none;
  /* text-transform:capitalize; */
  border: solid 4px black;
  padding: 10px;
  border-radius: 70px;
  font-size: 20px;
  width: 300px;
  height: 30px;
}
.container {
  display: flex;
  box-shadow: 0 0 0 black;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 100vh;
  box-shadow: 0 0 0 black;
  background-color: white;
  flex-direction: column;
}
.container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
#log {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  width: 82%;
  border-radius: 30px;
  padding: 10px;
  margin-top: 10px;
  transition: 0.5s;
  font-size: 21px;
}
#log:hover {
  background: rgb(7, 7, 70);
  transition: 0.5s;
}
#sign {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  width: 82%;
  border-radius: 30px;
  padding: 10px;
  margin-top: 10px;
  transition: 0.5s;
  font-size: 21px;
}
#sign:hover {
  background: var(--data-color-blue);
  transition: 0.5s;
}
form {
  padding: 10px;
  border: solid 2px black;
  background-color: #4cd89d;
  border-radius: 50px;
}
h2 {
  color: white;
}
a {
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  width: 82%;
  border-radius: 30px;
  padding: 10px;
  margin-top: 10px;
  transition: 0.5s;
  font-size: 21px;
  text-decoration: none;
}
img{
    background-image: cover;
}


